@keyframes slideIn {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .animate-slideIn {
    animation: slideIn 0.5s ease-out;
  }
  
  /* Blink animation */
  @keyframes blink {
    0%, 49% {
      opacity: 1; /* Visible */
    }
    50%, 100% {
      opacity: 0; /* Hidden */
    }
  }
  
  .animate-blink {
    animation: blink 2s infinite; 
  }
  